
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    transition: all .5s ease-in;
}

.main{
    min-height: 100vh;
    background-color: #F0ECE9;
    padding: 10px 3em;
    transition: all .2s ease-in;

}

.logo{
    /* width: 596px; */

padding: 1em 2em;
font-family: 'Sahitya';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 99px;

color: #F11313;

}



.mid-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    min-height: 50vh;
    padding: 2px 18px;
    
}
.text{
/* width: 50%; */
padding: 0.5em ;
margin: 0.6em auto;
text-align: left;
font-family: 'Sahitya';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 56px;
/* margin-bottom: -2em; */
}

.text h3{
  font-weight: 200;
}

.text h2{
    font-weight: bold;
    padding-bottom: 1em;
   
}


.image{
/* width: 40%; */
/* height: 350px; */
box-shadow: 0px 4px 4px rgba(227, 226, 226, 0.25), 0px 4px 4px rgba(223, 220, 220, 0.425), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #E5E5E5, 0px 4px 4px #FFFFFF, 0px 4px 4px #E5E5E5, 0px 4px 4px #FFFFFF;
border-radius: 53px;
overflow-y: hidden;
margin-bottom: 10px;
}

.image img{
    width: 100%;
    
}

.btn{
    /* margin: 10px 17px; */
    text-align: center;
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    /* width: 420px; */
    padding: 10px;
}
.start-btn{
    padding: 0.6em;
   /* min-width: 150px; */
/* min-height: 60px; */
font-size: 1.2em;
margin-right: 1em;
font-weight: bold;
color: white;
margin: auto 1em;
border: #F11313;
background: #F11313;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #F13B13, 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 18px;
}

.start-btn a{
    color: white;
    text-decoration: none;  
}

.login-btn{
/* min-width: 150px;
min-height: 60px; */
padding: 0.6em 1.4em;
font-size: 1.2em;
font-weight: bold;
color: #F11313;
border: #FFFFFF;
background: #FFFFFF;
box-shadow: 0px 4px 4px #E5E5E5, 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #FFFFFF, 0px 4px 4px #FFFFFF, 0px 4px 4px #E5E5E5, 0px 4px 4px #E5E5E5, 0px 4px 4px #E5E5E5;
border-radius: 17px;
   
}

.footer{
    width: 1519px;
height: 419px;
background: #C4C4C4;
}

footer p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 29px;
margin-bottom: 0;
text-align: center;
margin: auto;


color: #9B250B;
}

/*  */